* {
	box-sizing:border-box;
}

body,html{
	margin:0px;
	padding:0px;
}	


#frame {
	width:696px;
	height:928px;
	margin:0px;
	background-image:url(../img/bg.jpg);
	position:relative;
	-webkit-background-size:100% auto;
}


.hole {
	width: 235px;
	height:200px;
	position:absolute;
	border-bottom-left-radius:80% 60%;
	border-bottom-right-radius:80% 60%;
	background-position:0px 100%;
	background-image:url(../img/droid_down.png);
	background-repeat:no-repeat;
	-webkit-background-size:100% auto;
	z-index:999;
}

.hole.droid 	 {	background-image:url(../img/droid_up.png);  }
.hole.droid.dead {	background-image:url(../img/droid_kill.png);  }

.hole.apple 	 {	background-image:url(../img/appledroid_up.png); }
.hole.apple.dead {	background-image:url(../img/appledroid_kill.png); }

#hole1 {
	left:55px;
	top:257px;
}
#hole2 {
	left:390px;
	top:257px;
}
#hole3 {
	left:55px;
	top:463px;
}
#hole4 {
	left:390px;
	top:463px;
}
#hole5 {
	left:55px;
	top:668px;
}
#hole6 {
	left:390px;
	top:668px;
}


#Scoreboard {
	position:absolute;
	top:150px;
	left:183px;
	width:236px;
	height:80px;
}

#Scoreboard div {
	float:left;
	height:80px;
	width:59px;
	-webkit-background-size:auto 100%;
}


div._0 {	background-image:url(../img/00.png); }
div._1 {	background-image:url(../img/01.png); }
div._2 {	background-image:url(../img/02.png); }
div._3 {	background-image:url(../img/03.png); }
div._4 {	background-image:url(../img/04.png); }
div._5 {	background-image:url(../img/05.png); }
div._6 {	background-image:url(../img/06.png); }
div._7 {	background-image:url(../img/07.png); }
div._8 {	background-image:url(../img/08.png); }
div._9 {	background-image:url(../img/09.png); }


#StartScreen {
	width:454px;
	height:611px;
	background-image:url(../img/welcome-start.png);
	margin:auto;
	z-index:9999;
	position:absolute;
	left: 121px;
	top:159px;
}

#StartScreen a {
	width:82%;
	height:70px;
	display:block;
	margin-left:9%;
	margin-top:505px;
	cursor:pointer;
}

#GameOverScreen {
	width:480px;
	height:320px;
	background-image:url(../img/game-over.png);
	margin:auto;
	z-index:9999;
	position:absolute;
	left: 108px;
	top:304px;
}

#GameOverScreen a {
	width:100%;
	height:160px;
	display:block;
	margin-left:0;
	margin-top:160px;
	cursor:pointer;
}

#GameOverScreen #trigger-submit-score {
    background-color: #a61713;
    color: #fff;
    width: 390px;
    margin:auto;
    text-align:center;
    padding: .5em 0;
    font-size:2em;
    cursor:pointer;
}

#LivesLeftDisplay {
    position: absolute;
    right: 175px;
    top: 155px;
    width:59px;
    height:80px;
}

#LivesLeftDisplay div {
    height:80px;
    width:59px;
    -webkit-background-size:auto 100%;
}


#SubmitScore {
    position:absolute;
    left:100px;
    top:140px;
    width: 70%;
    background-color:#a61713;
    z-index:99999;
    color:#fff;
    display:none;
}

#SubmitScore h1 {
    text-align:center;
}

#SubmitScore h2 {
    text-align:center;
}

#SubmitScore .top-scores {
    list-style:none;
    width: 70%;
    background-color:#fff;
    margin:auto;
    border:1px solid #7f0f0e;
    border-radius:8px;
    padding:0;
    border-collapse:collapse;
}

#SubmitScore .top-scores td {
    color: #222;
    padding:.6em 1em;
    border-bottom:1px solid #f5f5f5;
    font-size:18px;
}

#SubmitScore .top-scores td:nth-child(2){
    text-align:right;
    font-size:1.3em;
}


#SubmitScore .top-scores tr.your-score td { border: none; }
#SubmitScore .top-scores tr.your-score td:first-child {
    border-bottom-left-radius:10px;
}
#SubmitScore .top-scores tr.your-score td:nth-child(2) {
    border-bottom-right-radius:10px;
}
#SubmitScore .top-scores tr.own td {
    background-color: #f0f0ff;
}
#SubmitScore form {
    width: 70%;
    margin:auto;
}

#SubmitScore form input {
    width:100%;
    margin-bottom:10px;
    padding: .5em;
}


#SubmitScore .start-again {
    text-align:center;
    font-size:24px;
    display:block;
    margin-top:20px;
    margin-bottom:20px;
}

#SubmitScore .thankYouMessage {
    text-align:center;
    margin:20px 0;
    font-size:22px;
}


audio {
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
	visibility:none;
	opacity:0;
}



#OfflineGameOverScreen {
    background-image:url(../img/game-over.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 480px;
    height: 320px;
    position:absolute;
    top:50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -160px;
    z-index:9999;
}

#OfflineGameOverScreen a {
    width: 340px;
    height:80px;
    display:block;
    margin-left:70px;
    margin-top:160px;
}





#OnlineGameOverScreen { 
	width: 449px;
	height: 656px;
	background: url(../img/scoreboard.png) no-repeat center;
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -225px;
	margin-top: -328px;
	z-index:09000000;
}

.top-scores {
	font-family: Michroma;
	margin-top: 120px;
	margin-left:50px;
	width:350px;
	font-size:16px;
}

.top-scores td:first-child {overflow: hidden;}

.top-scores td:nth-child(2){
    text-align:right;
    font-size:1.3em;
}

.top-scores tr.own td {
    font-weight:bold;
}
#OnlineGameOverScreen form {
    width: 70%;
    margin:auto;
    margin-top:10px;
	font-family: Michroma;
	border-top:1px solid #aaa;
}

#OnlineGameOverScreen form h3 {
	text-align:center;
	padding: 0;
}

#OnlineGameOverScreen form input {
    width:100%;
    margin-bottom:10px;
    padding: .5em;
}

#OnlineGameOverScreen .start-again {
	display:block;
	width: 300px;
	height:70px;
	margin:auto;
	position:absolute;
	bottom:45px;
	left:80px;
}

#OnlineGameOverScreen .thankYouMessage {
	width: 250px;
	margin:auto;
	margin-top:80px;
	text-align:center;
	font-family:Michroma;
	font-size:18px;
	font-weight:bold;
}



